/*
* @Author: zhihong-zh
* @Date:   2016-07-13 13:46:15
* @Last Modified by:   zhihong-zh
* @Last Modified time: 2016-08-08 11:53:21
*/
/* 高级搜索样式 */
.sea-left label{margin-right:3px;}

.handle-content .bus_edit{text-align:left;}
.handle-content .bus_edit input{vertical-align: -1px;}
.handle-content .bus_edit span{display:inline-block;width:20px;height:12px;background: url(../img/handle_edit.png) no-repeat center;cursor:pointer;margin-left:2px;}
.handle-content .bus_edit b{font-weight: normal;margin-left:5px;}
.sea-left input,.sea-right input{width:160px;}

/* 状态 */
.f_single{position: relative;}
.bus_sel_single{background:url(../img/plat_handle.png) no-repeat 71px center; cursor:pointer;}
.bus_select{background:url(../img/select.png) no-repeat 74px center; cursor:pointer;}
.bus_sel_single .statu_s{top:33px;left:-9px;}

/* td内部不加标签样式 */ 
.handle-content table{table-layout: fixed;}
td{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
th{text-align:left;}
.handle-content td,th{padding:12px 0 12px 10px;} 

.all_check{vertical-align: -2px;margin-right:6px;}
