/*
* @Author: zhihong-zh
* @Date:   2016-10-13 10:37:06
* @Last Modified by:   zhihong-zh
* @Last Modified time: 2016-10-13 15:28:54
*/
.banner .wrap{position: relative;height:100%;}
.contain{height:674px;/* background:pink; */}
#map{height:100%;}
.banner .selec_t,.banner .inpu_t,.banner .map-icon{vertical-align: top;}
.map-search{width:310px;height:28px;border:1px solid #ffb09b;border-radius: 3px;position:absolute;top:8px;right:23px;}
.banner .selec_t{width:105px;height:100%;border:none;outline:none;font-size: 14px;position: relative;}
.banner .selec_t:before{content:'';height:17px;border-left:1px solid #fff;position: absolute;top:6px;right:0;}
.banner .inpu_t{width:167px;height:100%;background-color:transparent;color:#333;}
.inpu_t::-webkit-input-placeholder {color:#ffbeb3;font-size: 14px;}
.inpu_t:-moz-placeholder {color:#ffbeb3;font-size: 14px;}
.inpu_t::-moz-placeholder {color:#ffbeb3;font-size: 14px;}
.inpu_t:-ms-input-placeholder {color:#ffbeb3;font-size: 14px;}
.banner .map-icon{display: inline-block;width:18px;height:100%;background: url(../img/icon/white_search.png) no-repeat center;cursor: pointer;}
#map{height:100%;}
/* 弹出框 */
.map-status{width:354px;min-height:229px;padding:0 26px;border:1px solid #e8e8e8;border-radius: 4px;background-color:#fff;position:relative;box-shadow: 0 1px 10px -2px rgba(0,0,0,.1); }
.map-status:after{content: '';width:0;height:0;border:10px solid transparent;border-top-color: #fff;position:absolute;bottom:-20px;left:192px;}
.map-status>h3{height:47px;line-height:47px;font-weight: normal;font-size:12px;color:#666;border-bottom:1px solid #e8e8e8;}
span.close{width:18px;height:18px;background: url(../img/icon/close.png) no-repeat center;cursor: pointer;position:absolute;}
.map-status span.close{top:14px;right:23px;}
.map-status .map-icon{width:48px;height:48px;background: url(../img/icon/map_icon.png) no-repeat center;position:absolute;top:71px;left:26px;}
.map-status .status-cont{margin:23px 0 20px 85px;}
.map-status p{color: #666;font-size: 14px;height:28px;line-height: 28px;}
.map-status p.title{color:#333;font-size: 18px;height:26px;line-height: 26px;}
.map-status .normal{margin-top:22px; }
.map-status .abnormal{margin-top:16px;}
.map-status .normal p,.map-status .abnormal p{font-size: 12px;height:20px;line-height: 20px;}
.map-status .abnormal p.reason{font-size: 14px;color:#333;margin-bottom: 18px;}

.location{width:314px;min-height:98px;padding:0 26px;border:1px solid #e8e8e8;border-radius: 4px;background-color:#fff;position:relative;}
.location:after{content: '';width:0;height:0;border:10px solid transparent;border-top-color: #fff;position:absolute;bottom:-20px;left:174px;}
.location .location-cont{margin:18px 0 18px 0;line-height: 30px;font-size: 16px;color:#666;width:240px;display: block;}
.location span.close{top:15px;right:13px;}


/*自定义工具*/
.current-toolbar{background: url(../img/icon/loc_gray.png) 50% 50% no-repeat #fff; width: 35px; height: 35px; border: 1px solid #ccc; border-radius: 3px; position: absolute; bottom: 130px; right: 14px; z-index: 1; cursor: pointer;}
.current-toolbar .current-tips{display:none; width:134px;height:40px;border:1px solid #e8e8e8;border-radius: 4px;line-height: 40px;text-indent: 20px;color:#666;font-size:14px;background-color:#fff;position: relative; right: 94px; bottom: 54px;}
.current-toolbar .current-tips:after{content: '';width:0;height:0;border:10px solid transparent;border-top-color: #fff;position:absolute;bottom:-18px;right:14px;}
.current-toolbar:hover .current-tips{display:block;}